@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #f3f3f3;
  --brand-blue: #2329d6;
  --font-instrument: "Instrument Serif", serif;
  --font-inter: "Inter", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-blue: var(--brand-blue);
  --font-instrument: var(--font-instrument);
  --font-inter: var(--font-inter);
  --font-manrope: var(--font-manrope);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-instrument);
}

.font-instrument {
  font-family: var(--font-instrument);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-manrope {
  font-family: var(--font-manrope);
}
